
# secrets
.env
.streamlit/secrets.toml

# python cache
__pycache__/
*.pyc

# virtual environment
venv/
.venv/

# output
outputs/*
!outputs/.gitkeep

# db stuff
.db
data/*.db
data/*.db-journal
data/*.sqlite
data/*.sqlite3
data/chroma_jd_library/

# Keep the data folder in Git
!data/.gitkeep

# put your stuff for easy access
input/*
!input/.gitkeep